.classy3 {
  height: 2500px;
  width: auto;
  background-image: url(../about/abtpics/bsmoke.jpeg);
}

.classy1 {
  display: grid;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-rows: 25%, 25%, 25%, 25%;
  height: 2500px;
  width: auto;
  background-image: url(../about/abtpics/gsmoke.jpeg);
}

.classy2 {
  display: grid;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-rows: 25%, 25%, 25%, 25%;
  height: 2500px;
  width: auto;
  background-image: url(../about/abtpics/rsmoke.jpeg);
}

nav {
  margin-left: 5px;
  text-align: center;
  background-image: url(../about/abtpics/navpic.jpg);
  position: sticky;
  top: 0;
  height: 40px;
}

#gr1 {
  background-color: rgb(17, 245, 17);
  font-family: "Lexend Zetta", sans-serif;
  color: rgb(251, 252, 244);
  height: 30px;
}

#re1 {
  background-color: red;
  font-family: "Lexend Zetta", sans-serif;
  color: rgb(251, 252, 244);
  height: 30px;
}

#bl1 {
  background-color: blue;
  font-family: "Lexend Zetta", sans-serif;
  color: rgb(251, 252, 244);
  height: 30px;
}

.hg1 {
  grid-column-start: 4;
  grid-row-start: 3;
  background-color: antiquewhite;
  font-size: 45px;
  font-family: "Lato", sans-serif;
  color: blue;
}

.hr1 {
  grid-column-start: 15;
  grid-row-start: 4;
  font-size: 45px;
  font-family: "Lato", sans-serif;
  color: red;
}

.p2 {
  font-size: 25px;
  font-family: "Lato", sans-serif;
  color: red;
}

#container1 {
  background-color: antiquewhite;
  border: 5px;
  border-color: green;
  grid-column-start: 1;
  grid-row-start: 1;
}

#container2 {
  background-color: antiquewhite;
  border: 5px;
  border-color: green;
  grid-column-start: 3;
  grid-row-start: 3;
}

#container3 {
  background-color: antiquewhite;
  border: 5px;
  border-color: red;
  grid-column-start: 3;
  grid-row-start: 1;
}

#container4 {
  background-color: antiquewhite;
  border: 5px;
  border-color: red;
  grid-column-start: 1;
  grid-row-start: 3;
}
