main {
  margin: auto;
  width: 100px;
  background-color: tan;
}

.odd {
  top: 20px;
  margin: auto;
  height: 50px;
  width: 50px;
  background-color: blue;
  transition: 1s;
}

.even {
  top: 20px;
  margin: auto;
  height: 50px;
  width: 50px;
  background-color: red;
  transition: 3s;
}

.odd:hover {
  transform: scale(2) translateX(100px) rotate(360deg);
}

.even:hover {
  transform: scale(0.5) translateX(-100px) rotate(-360deg);
}
